{% if cart.item_count > 0 %}
    
  {% else %}
    <div class="relative grid justify-center items-center h-60 max-w-3xl m-auto">
      <div class="content">
        <div class="font-bold text-lg">Your cart is empty</div>
        <div class="py-4">
          <a href="{{ routes.all_products_collection_url }}" class="p-3 bg-blue-400 text-white text-center hover:bg-blue-600">Continue Shopping</a>
        </div>
      </div>
    </div>
{% endif %}